# Ignore environment and virtual environment.
.env
.venv/ 

# Ignore local files.
local_files/

# Ignore unused data files.
data/for_analysis

# Ignore Python cache files.
__pycache__/
*.pyc

# Ignore MacOS files.
.DS_Store
