# Ignore environment and virtual environment.
.env
.venv/ 

# Ignore local files.
local_files/

# Ignore data files.
data/companies_with_btc.json
data/stock_data/
data/

# Ignore Python cache files.
__pycache__/
*.pyc

# Ignore MacOS files.
.DS_Store
